<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"

        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.freeradioapp"
        version   = "0.4.0">

    <name>Freie Radios</name>

    <description>
        Freie Radios in Baden-Württemberg und Deutschland
    </description>

    <author href="http://www.freefm.de/taxonomy/term/4270" email="florian.geiselhart@uni-ulm.de">
        fg
    </author>

    <!-- PhoneGap -->
    <preference name="phonegap-version" value="3.5.0" />

    <!-- iOS -->
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />

    <!--
      This allows your app to load assets from all domains
    -->
    <access origin="*" subdomains="true" />
</widget>