<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.5.0" />

        <name>default config xml</name>

        <description>
        Default Config
        </description>

        <author href="http://freefm.de" email="webmaster@freefm.de">
        Florian Geiselhart
        </author>

    </widget>