<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.freeradioapp"
        version   = "0.4.0">

    <name>Freie Radios</name>

    <description>
        Freie Radios in BW und Deutschland
    </description>

    <author href="http://www.freefm.de/taxonomy/term/4270" email="florian.geiselhart@uni-ulm.de">
        fg
    </author>

    <!-- PhoneGap -->
    <preference name="phonegap-version" value="3.5.0" />
    <access origin="*" subdomains="true" />

    <!-- iOS -->
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />

    <!-- Android -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.file" version="1.0.1" />

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#E9E9E9" />

</widget>